
body {
	font-family: Arial, Helvetica, sans-serif;
}

h1 {
	border-bottom: 2px solid #ddd;
	margin: 0;
	padding: 16px;
}
  
button {
	background-color: #ffa31a;
	border: none;
	border-radius: 8px;
	color: white;
	cursor: pointer;
	font-size: 16px;
	font-weight: bold;
	outline: none;
	padding: 16px;
}
  
input, select {
	border: 2px solid #ddd;
	border-radius: 8px;
	box-sizing: border-box;
	cursor: pointer;
	font-size: 16px;
	font-weight: bold;
	outline: none;
	padding: 16px;
}
  
a {
	text-decoration: none;
}
  
.page {
	width: 100vw;
	height: 100vh;
}
  
.centered-container {
	max-width: 750px;
	margin: auto;
}
  
.back-button {
	margin: 16px;
}
  
.page-container {
	  display: flex;
}
  
.column {
	  flex: 1;
}
  
.list-container {
	padding: 16px;
	margin: auto;
	max-width: 600px;
}
  
.list-item {
	border-bottom: 1px solid #ddd;
	display: flex;
	padding: 16px;
}
  
.list-item > h3 {
	flex: 2;
}
  
.list-item > p {
	align-items: center;
	display: flex;
	flex: 6;
	padding-left: 16px;
}
  
.list-item > .right-action {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}
  
.small-x {
	background-color: #ccc;
	border-radius: 50%;
	cursor: pointer;
	height: 24px;
	padding-top: 1px;
	position: relative;
	text-align: center;
	width: 24px;
}

.the-x {
	font-weight: bold;
	left: 7px;
	position: absolute;
	top: 2px;
}

.search-list-item {
	cursor: pointer;
	padding: 16px;
	border-bottom: 1px solid #ddd;
}

.search-list-item:hover {
	background-color: #eee;
}
  
.full-width {
	display: block;
	width: 100%;
}
  
.space-before {
	margin-top: 16px;
}
  
.space-after {
	margin-bottom: 16px;
}
  
.shopping-list-button {
	background-color: #ADE25D;
}